*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.header{
    display: flex;
    justify-content: space-evenly;
    padding: 4px 22px;
    background: #e0e0e0;
}

.header span.material-symbols-outlined{
    font-size: 42px;
    color: black;
}
button{
    width: 300px;
    font-size: 20px;
    height: 80px;
    margin: 20px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  5px 5px 59px #898989,
             -5px -5px 59px #ffffff;
    border: none;
}

button:hover{
    background: #f3f1f1;
    box-shadow:  5px 5px 59px #d6d4d4,
             -5px -5px 59px #ffffff;
}

#light{
    background: #e0e0e0;
    box-shadow:  5px 5px 59px #898989,
             -5px -5px 59px #ffffff;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

#light:hover{
    background: #f3f1f1;
    box-shadow:  5px 5px 59px #d6d4d4,
             -5px -5px 59px #ffffff;
}

#dark{
    background: #e0e0e0;
    box-shadow:  5px 5px 59px #898989,
             -5px -5px 59px #ffffff;
    border: none;
    border-radius: 10px;
    padding: 20px;
}

#dark:hover{
    background: #797777;
    color: white;
    box-shadow:  5px 5px 59px #413f3f,
             -5px -5px 59px #7c7979;
}